<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="title">비밀번호 변경 하기</div>
  <%= form_for @user, method: 'put'  do |f| %>
  <div class="field">
    <%= f.label '새 비밀번호', :class => 'label-title' %>
<%= f.password_field :password, autocomplete: "off", :class => 'field-form' %>
<% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
<% end %>
  </div>
  <div class="field">
    <%= f.label '새 비밀번호 확인', :class => 'label-title' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'field-form' %>
  </div>

  <div class="field">
    <%= f.label '이전 비밀번호', :class => 'label-title' %>
    <%= f.password_field :current_password, autocomplete: "off", :class => 'field-form' %>
    <div class="label-sub-title">* 비밀번호 변경을 위해서 기존 비밀번호를 입력해주세요.</div>
  </div>
    <div class="actions">
      <%= f.submit "비밀번호 변경", class: 'btn' %>
    </div>
  <% end %>
