<% content_for :js_css do %>
  <%= javascript_include_tag 'application' %>
<% end %>
<%= form_for @post_ do |form| %>
  <%= form.file_field :image, id: "uploadPostItemImage" %>
  <div class="post-item-title-warpper">
    <%= form.text_field :title, placeholder: "제목이 필요하다면 입력해주세요. (공백시 나타나지 않습니다.)", class: "post-item-title"  %>
  </div>
  <div class="post-item-content-warpper">
    <div id="postItemImagePreview"></div>
  <%= form.text_area :description, placeholder: "이미지에 대한 설명을 입력해주세요.", class: "post-item-content-text" %>
</div>
<% end %>
