<% content_for :js_css do %><%= javascript_include_tag 'application' %><% end %>
<%= form_for @post do |post_form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post-form-cover-warpper">
    <% if @post.image.url %>
      <div class="post-form-cover" id="coverImagePreview">
        <%= image_tag 'ic-camera.svg', class: 'post-form-cover-icon' %>
        <%= image_tag(@post.image.to_s, id: 'is-cover', class: 'post-form-cover') %>
        <%= post_form.file_field :image, id: "coverUploadImage", class: "post-form-cover-file-field" %>
      </div>
    <% else %>
      <div class="post-form-cover" id="coverImagePreview">
        <%= image_tag 'ic-camera.svg', class: 'post-form-cover-icon' %>
        <%= post_form.file_field :image, id: "coverUploadImage", class: "post-form-cover-file-field" %>
      </div>
    <% end %>
    <div class="post-form-title-warpper">
      <%= post_form.text_field :title, placeholder: "제목을 입력해주세요.", class: "post-form-title"  %>
    </div>
    <div class="post-form-content-warpper">
      <%= post_form.text_area :description, placeholder: "인테리어를 하시면서 경험한 일을 소개해주세요.", class: "post-form-content-text" %>
    </div>
  </div>
  <div id="sortable">
    <%= post_form.fields_for :post_items, PostItem.new, child_index: 0 do |post_item_fields| %>
      <%= render 'post_item_form', post_item_fields: post_item_fields %>
    <% end %>
    <%= post_form.fields_for :post_items do |post_item_fields| %>
      <%= render 'post_item_form', post_item_fields: post_item_fields %>
    <% end %>
  </div>
  <div class="actions">
    <%= post_form.submit '발행하기', class: "post-new-btn" %>
  </div>
<% end %>
