<% content_for :js_css do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post-show-cover-warpper">
    <div class="post-show-cover" id="coverImagePreview">
      <%= image_tag 'ic-camera.svg', class: 'post-show-cover-icon' %>
      <%= form.file_field :image, id: "coverUploadImage", class: "qnq-show-cover-file-field" %>
    </div>
    <div class="post-show-title-warpper">
      <%= form.text_field :title, placeholder: "제목을 입력해주세요.", class: "post-show-title"  %>
    </div>
    <div class="post-show-content-warpper">
      <%= form.text_area :description, placeholder: "인테리어를 하시면서 경험한 일을 소개해주세요.", class: "post-show-content-text" %>
    </div>
  </div>

    <%= form.file_field :image, id: "uploadPostItemImage" %>
    <div class="post-item-title-warpper">
      <%= form.text_field :title2, placeholder: "제목이 필요하다면 입력해주세요. (공백시 나타나지 않습니다.)", class: "post-item-title"  %>
    </div>
    <div class="post-item-content-warpper">
      <div id="postItemImagePreview"></div>
      <%# if @post_item.image.url = nil %>
      <!--    <div id="imagePreview"></div>-->
      <%# else %>
      <!--    <div><%#= image_tag(@post_item.image.to_s, id: 'imagePreview') %></div>-->
      <%# end %>
      <%= form.text_area :description2, placeholder: "이미지에 대한 설명을 입력해주세요.", class: "post-item-content-text" %>
    </div>
  <div class="actions">
    <%= form.submit '발행하기', class: "post-new-btn" %>
  </div>
<% end %>
