<p id="notice"><%= notice %></p>
  <% @posts.each do |post| %>
    <div class="qna-list-content">
      <div class="qna-thumb-image"><%= image_tag(post.image.to_s) %></div>
      <div>
        <div class="qna-list-title"><%= post.title %></div>
        <div class="qna-list-description"><%= post.description %></div>
        <div class="qna-list-btn">
          <%= link_to '보기', post %>
          <%= link_to '수정', edit_post_path(post) %>
          <%= link_to '삭제', post, method: :delete, data: { confirm: '삭제하겠습니까?' } %>
        </div>
      </div>
    </div>
  <% end %>

